useDynLib(FASTR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("FLR4MFCL")
export(
 "read.MFCLEquilibrium"
)
exportClasses()
exportMethods(
  "histNa",
  "projNa"
)